#calbody {
    background-color: rgb(49, 47, 47);
    color: aliceblue;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;

}
#body {
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#btn{
padding: 5px;
    padding-inline:20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    border-width: 4px solid white;
    background-color: rgb(255, 128, 0);
    
}
#form{
    color: rgb(255, 136, 0);  
    margin-top: 60px;
    font-size:18px;
  
}
#weight-guide{
align-items: start;
text-align: start;
margin-top: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 12px;

}
img{

    width: 300px;
    height:200px;
    padding: 10px;
}

#results{
background-color: white;
color:red;
padding: 5px;
padding-inline: 50px;
margin-inline: 50px;
font-weight: bold;
margin-top: 5px;
margin-bottom: 15px;

}